{% extends 'core/base.html' %}
{% load static %}


{% block css-styles %}
    <link rel="stylesheet" href="{% static 'core/css/inventory-style.css' %}">
{% endblock css-styles %}

{% block title %}  Inventario {% endblock %}

{% block content %}

<div class="buttons-container">
  <form action="{% url 'inventory' %}" method="get">
    
    <a href="?orden=categoria" class="btn-ordenamiento">Ordenar por categoria</a>
    <a href="?orden=precio" class="btn-ordenamiento"> Ordenar por precio</a>
    <a href="?orden=stock" class="btn-ordenamiento">Ordenar por stock</a>
    
  </form>

</div>
<div class="main-box">
  <div class="table-container">
      <table class="table">
        <thead>
            <tr>
              <th>No.</th>
              <th>Nombre producto</th>
              <th>Precio </th>
              <th>Categoria</th>
              <th>Stock</th>
            </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'modify_product' producto.id_unico %}">{{producto.nombre}}</a></td>
              <td>{{producto.precio}}</td>
              <td>{{producto.categoria}}</td>
              <td>{{producto.stock}}</td>

            </tr>
          {% endfor %}

        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </div>
    
</div>
<form action="{% url 'delete_all_products' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="--borrar" >Borrar todos los productos</a>
</form>

{% endblock content %}
